---

- name: Assert empty vars
  ansible.builtin.assert:
    that:
      - nccl_tests_cuda_version is defined
      - nccl_tests_version is defined
    fail_msg: >-
      Missing nccl_tests - {{ nccl_tests_version }} or cuda {{ nccl_tests_cuda_version }} version
  tags:
    - nccl-tests

- name: Download nccl-tests archive
  ansible.builtin.get_url:
    url: >-
      {{
        deb_repo_download_url ~
        '/nccl_tests_' ~ nccl_tests_cuda_version ~
        '_ubuntu' ~ ansible_distribution_version ~
        '/nccl-tests-perf-' ~ ansible_architecture ~ '.tar.gz'
      }}
    dest: "/tmp/nccl-tests-perf-{{ ansible_architecture }}.tar.gz"
    mode: "0644"
    checksum: "{{ nccl_tests_sha_map[nccl_tests_cuda_version][nccl_tests_version][ansible_architecture] }}"
  register: nccl_tests_dl
  tags:
    - nccl-tests

- name: Extract nccl-tests archive into /usr/bin
  ansible.builtin.unarchive:
    src: "/tmp/nccl-tests-perf-{{ ansible_architecture }}.tar.gz"
    dest: /usr/bin
    remote_src: true
    mode: "0755"
    creates: "{{ (nccl_tests_force | default(false)) | ternary(omit, '/usr/bin/all_reduce_perf_mpi') }}"
  when: (nccl_tests_force | default(false) | bool) or nccl_tests_dl.changed
  tags:
    - nccl-tests
