#
# Mellanox Technologies Ltd. public repository configuration file.
# For more information, refer to http://linux.mellanox.com
#

# [mlnx_ofed_{{ repos_openmpi_version }}_base]
deb http://linux.mellanox.com/public/repo/mlnx_ofed/{{ repos_openmpi_version }}/ubuntu{{ ansible_distribution_version }}/$(ARCH) ./
