name: Base build for active checks images

on:
  workflow_call:
    inputs:
      dockerfile_path:
        required: true
        type: string
      cuda_version:
        required: true
        type: string
      ubuntu_version:
        required: true
        type: string
      nccl_tests_version:
        required: true
        type: string


jobs:
  build_and_push:
    runs-on: self-hosted

    name: Building image from ${{ inputs.dockerfile }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Add docker-credential-nebius to PATH
        run: echo "/home/ml_containers/.nebius/bin" >> $GITHUB_PATH

      - name: Set short SHA
        run: echo "SHORT_SHA=$(echo $GITHUB_SHA | cut -c1-7)" >> $GITHUB_ENV

      - name: Build and push manifest
        run: |
          docker build \
            --platform linux/amd64,linux/arm64 \
            -t cr.eu-north1.nebius.cloud/soperator/active_checks:${{ inputs.cuda_version }}-${{ inputs.ubuntu_version }}-${{ inputs.nccl_tests_version }}-${{ env.SHORT_SHA }} \
            --build-arg CUDA_VERSION=${{ inputs.cuda_version }} \
            --build-arg NCCL_TESTS_VERSION=${{ inputs.nccl_tests_version }} \
            --push \
            -f ${{ inputs.dockerfile_path }} .
