name: Build cuda images

on:
  workflow_dispatch:

jobs:
  build_and_push:
    runs-on: X64

    strategy:
      fail-fast: false
      matrix:
        include:
          - name: cuda12
            cuda_version: "12.9.0"
            ubuntu_version: "ubuntu24.04"
          - name: cuda13
            cuda_version: "13.0.2"
            ubuntu_version: "ubuntu24.04"

    name: Building and push image for ${{ matrix.name }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Add docker-credential-nebius to PATH
        run: echo "/home/ml_containers/.nebius/bin" >> $GITHUB_PATH

      - name: Set daytime
        run: echo "DAYTIME=$(date -u +%Y%m%d%H%M%S)" >> $GITHUB_ENV

      - name: Get image version name
        run: echo "cr.eu-north1.nebius.cloud/ml-containers/cuda:${{ matrix.cuda_version }}-${{ matrix.ubuntu_version }}-${{ matrix.libnccl_version }}-${{ env.DAYTIME }}"

      - name: Build and push images
        # https://console.eu.nebius.com/project-e00managed-schedulers/registry/registry-e00hrt9na9xsn2px9f
        run: |
          docker buildx build \
            --platform linux/amd64,linux/arm64 \
            --build-arg CUDA_VERSION=${{ matrix.cuda_version }} \
            -t cr.eu-north1.nebius.cloud/ml-containers/cuda:${{ matrix.cuda_version }}-${{ matrix.ubuntu_version }}-${{ matrix.libnccl_version }}-${{ env.DAYTIME }} \
            --target cuda \
            --progress=plain \
            --push \
            .
